* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 20px;
}

main {
  max-width: 860px;
  margin: 0 auto;
}

.area-cite1 {
  display: flex;
  gap: 40px;
}

.cite-1 blockquote {
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
  max-width: 40ch;

  & span {
    display: block;
    margin-top: 20px;
  }
}

.cite-1 blockquote::after {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #1e1e1e;
  position: absolute;
  bottom: -15px;
}

.cite-1 .cite-person {
  margin-left: 8px;
}

.cite-person {
  display: flex;
  align-items: center;
  gap: 20px;

  & img {
    border-radius: 50%;
  }
  & div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.cite-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.cite-2 {
  border: 2px solid #1e1e1e;
  border-radius: 15px;
  padding: 20px;
}

.cite-2 blockquote {
  margin-bottom: 20px;
  max-width: 50ch;
}

.area-cite2 {
  margin-top: 30px;
  display: flex;
  gap: 20px;

  & img {
    border-radius: 15px;
  }
  & .cite-3 {
    border-radius: 15px;
    background-color: #1e1e1e;
    color: #fff;
    padding: 30px;
  }
  & p {
    margin: 10px 0 5px 0;
    font-size: 2rem;
  }
  & span {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
  }
}

.area-cite3 {
  margin-top: 40px;
  border: 2px solid #1e1e1e;
  border-radius: 15px;
  padding: 50px;
  text-align: center;

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  & ul .arrow {
    font-size: 2rem;
  }
  & ul img {
    border-radius: 50%;
    max-width: 60px;
    height: auto;
  }
}

.area-cite3 ul img[src*="tenma"] {
  opacity: 0.5;
  transform: scale(80%);
}

@media (max-width: 700px) {
  .area-cite1,
  .area-cite2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .area-cite3 ul {
    gap: 10px;
  }
}
