* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

main {
  margin: 20px auto;
  max-width: max-content;
  background-color: #fff;
}

.simple-input {
  display: flex;
  justify-content: center;
  padding: 8px;
  gap: 50px;
  border: 1px solid #010101;
  margin-bottom: 4px;

  & .calender-icon {
    border-left: 1px solid #010101;
    padding-left: 8px;
    display: flex;
    align-items: center;
  }
}

.display {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #010101;
  border-bottom: none;
}

table {
  width: 100%;
  border: 1px solid #010101;
  border-top: 0;
  border-collapse: collapse;
}

tr {
  display: flex;
  text-align: center;
}

tr > * {
  flex: 1;
}

tbody td {
  border: 1px solid #010101;
  border-bottom: none;
  border-right: none;
}

tbody td:nth-child(7n + 1) {
  border-left: none;
}
